@media screen and (max-width: 370px) {

h1 {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    font-size: 36px !important;
    }

h2 {
    font-family: 'Roboto Serif', serif;
    }

h3 {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    }

p1 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    font-size: 16px;
    }

p2 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    font-size: 16px !important;
    }

.nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    margin: 0 40px 0 40px !important;
    }

.nav p {
    left: -100%;
    }

.nav img {
    height: 40px !important;
    width: 162.03px !important;
    margin: 30px 120px 90px 71px !important;
    }

.nav button {
    margin: 26px 0 86px 0 !important;
    padding: 14px 24px 15px 24px !important;
    border-radius: 28px;
    background-color: #000;
    color: #DCDCDC;
    }

.firstGrid-container {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 0px !important;
    margin: 0 12px 56px 12px !important;
    grid-template-areas:
    "header"
    "mainImage" !important
    }

.header {
    margin: 2px;
    grid-area: header;
    text-align: center !important;
    margin: 0 24px 0 24px !important;
    }

.header h1 {
    font-size: 36px !important;
    }

.header p {
    font-size: 18px !important;
    }

.mainImage {
    height:220px !important;
    width: 342px !important;
    padding: 0 0 40px 0 !important;
    }

.secondGrid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(6, 1fr) !important;
    gap: 64px !important;
    margin: 0 24px 0 24px !important;
    }

.popularCookingCourses {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    height: 132px !important;
    width: 342px !important;
    background-color: #FEBD2F;
    border-radius: 40px;
    }

.popularCookingCourses h2 {
    margin: 32px 32px 128px 32px !important;
    font-size: 24px !important;
    font-weight: 500;
    }


.tiles {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    height: 263px !important;
    width: 332px !important;
    background-color: white;
    border-radius: 40px;
    }

.tiles img {
    height: 46.95 !important;
    width: 51.99px !important;
    position:relative !important;
    bottom: 30px !important;
    left: 250px !important;
    }

.tiles h3 {
    margin: 32px 100px 16px 32px !important;
    font-weight: 700;
    font-size: 20px !important;
    position:relative !important;
    bottom: 60px !important;
    }

.tiles p2{
    padding: 0 32px 24px 32px !important;
    position:relative !important;
    bottom: 60px !important;
    }

.tiles button {
    background-color: white;
    border: 1 solid #DCDCDC;
    border-radius: 50px;
    margin: 24px 0 32px 32px !important;
    width: 130px !important;
    height: 40px !important;
    size: 16px;
    position:relative !important;
    top: 160px !important;
    right: 330px !important;  
    }

.footer {
    height: 60px;
    width: 100%;
    background-color: #FEBD2F;
    margin: 120px 0 0 0;
    }

.footer img {
    height: 32px;
    width: 129px;
    margin: 18px 0 18px -340px !important;
    }
}

 /*tablet screen*/

 @media screen and (max-width: 768px) and (min-width: 391px) {
h1 {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    font-size: 64px;
    }
    
h2 {
    font-family: 'Roboto Serif', serif;
    }
    
h3 {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
}
    
p1 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    font-size: 24px;
}
    
p2 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    font-size: 16px !important;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    margin: 0 40px 0 40px !important;
}
    
.nav p {
     margin: 38px 37px 103px 0 !important;
}
    
.nav img {
    height: 40px !important;
    width: 162.03px !important;
    margin: 30px 120px 90px 71px !important;
}
    
.nav button {
    margin: 26px 0 86px 0 !important;
    padding: 14px 24px 15px 24px !important;
    border-radius: 28px;
    background-color: #000;
    color: #DCDCDC;
}

.firstGrid-container {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 0px !important;
    margin: 0 40px 72px 40px !important;
    grid-template-areas:
    "header"
    "mainImage" !important
}

.header {
    margin: 2px;
    grid-area: header;
    text-align: center !important;
    margin: 0 80px 0 80px !important;
}

.header h1 {
    font-size: 48px !important;
}

.header p {
    font-size: 20px !important;
}

.mainImage {
    height:360px !important;
    width: 688px !important;
    padding: 0 0 72px 0 !important;
}

.secondGrid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    gap: 40px 20px !important;
    margin: 0 80px 24px 24px !important;
}

.popularCookingCourses {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    height: 271px !important;
    width: 323px !important;
    background-color: #FEBD2F;
    border-radius: 40px;
}
    
.popularCookingCourses h2 {
    margin: 32px 32px 128px 32px !important;
    font-size: 32px !important;
    font-weight: 500;
}
      
.tiles {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    height: 263px !important;
    width: 332px !important;
    background-color: white;
    border-radius: 40px;
}
    
.tiles img {
    height: 46.95 !important;
    width: 51.99px !important;
    position:relative !important;
    bottom: 30px !important;
    left: 250px !important;
}
    
.tiles h3 {
    margin: 32px 100px 16px 32px !important;
    font-weight: 700;
    font-size: 20px !important;
    position:relative !important;
    bottom: 60px !important;

}
    
.tiles p2{
    padding: 0 32px 24px 32px !important;
    position:relative !important;
    bottom: 60px !important;
}
    
.tiles button {
    background-color: white;
    border: 1 solid #DCDCDC;
    border-radius: 50px;
    margin: 24px 0 32px 32px !important;
    width: 130px !important;
    height: 40px !important;
    size: 16px;
    position:relative !important;
    top: 160px !important;
    right: 330px !important;
}
    
.footer {
    height: 80px;
    width: 100%;
    background-color: #FEBD2F;
}
    
.footer img {
    height: 32px;
    width: 129px;
    margin: 24px 316px 24px -340px !important;
}
}

h1 {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    font-size: 64px;
}

h2 {
    font-family: 'Roboto Serif', serif;
}

h3 {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
}

p1 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    font-size: 24px;
}

p2 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    font-size: 18px;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    margin: 0 80px 0 80px;
}

.nav p {
    margin: 30px 47px 110px 0;
    white-space: nowrap;
}

.nav img {
    height: 40px;
    width: 162.03px;
    margin: 30px 428px 110px 387px;
}

.nav button {
    margin: 26px 0 106px 0;
    padding: 14px 24px 15px 24px;
    border-radius: 28px;
    background-color: #000;
    color: #DCDCDC;
    white-space: nowrap;
}

.firstGrid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2fr);
    gap: 80px;
    margin: 0 80px 0 80px;
    grid-template-areas:
    "header mainImage"
}

.header {
    margin: 2px;
    grid-column: span 1;
    grid-area: header;
    margin: 0 0 147px 0;
}

.mainImage {    
    margin: 2px;
    grid-column: span 1;
    grid-area: mainImage;
}

.mainImage img {
    height: 440px;
    width: 660px;
    border-radius: 40px;
    padding: 0 0 120px 0;
}

.secondGrid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 40px 20px;
    margin: 0 0 118px 80px;
}

.popularCookingCourses {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    height: 324px;
    width: 400px;
    background-color: #FEBD2F;
    border-radius: 40px;
}

.popularCookingCourses h2 {
    margin: 41px 40px 95px 40px;
    font-size: 40px;
    font-weight: 500;
}


.tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 auto;
    height: 324px;
    width: 400px;
    background-color: white;
    border-radius: 40px;
}

.tiles img {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    height: 58.69px;
    width: 64.98px;
    position: relative;
    bottom: 30.02px;
    left: 310.5px;
}

.tiles h3 {
    margin: 0 103px 24px 40px;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
}

.tiles p2{
    padding: 0 40px 32px 40px;
}

.tiles button {
    background-color: white;
    border: 1 solid #DCDCDC;
    border-radius: 50px;
    margin: 0 40px 40px 40px;
    width: 143px;
    height: 48px;
}

.footer {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 1440px;
    background-color: #FEBD2F;
    padding: 0 110px 0 0;
    bottom: 0;
}

.footer img {
    height: 32px;
    width: 129px;
    margin: 24px 580px 24px 715px;
}
